body {
  margin: 0;
}

#navbar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  width: 12.6vw;
  float: left;
  display: block;
  color: #6136c4;
  text-align: center;
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-decoration: none;
  font-size: 2vw;
  letter-spacing: 0.6vw;
}

#navbar a:hover {
  background-color: rgb(248, 240, 255);
  color: rgb(89, 44, 194);
  font-style: italic;
}

.column {
    width: 100%;
    font-family:system-ui;
    height: 116vw;
    margin-top:18vw;
    margin-bottom:18vw;

  }

  .columnf {
    width: a;
    font-family:system-ui;
    height: 116vw;
    margin-top:18vw;
    margin-bottom:18vw;

  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    font-family:system-ui;
  }


  .item-1{
    grid-area: itema;
  }

  .item-2{
    grid-area: itemb;
  }

  .item-3{
    grid-area: itemc;
  }

  .item-4{
    grid-area: itemd;
  }

  .item-5{
    grid-area: itemaa;
  }

  .item-i1{
    grid-area: iteme;
  }

  .item-i2{
    grid-area: itemf;
  }
  .item-i3{
    grid-area: itemg;
  }

  .item-i4{
    grid-area: itemh;
  }

  .item-i5{
    grid-area: itemi;
  }

.index-images{
  height: inherit;
  width: 39vw;
  object-fit: cover;
  filter: grayscale(100%);


}
.normal-images{
  height: auto;
  width: 39vw;
  object-fit: cover;
  filter:none
}

.normal-imagesS2{
  height: auto;
  width: 81vw;
  object-fit: cover;
  filter:none
}

.svg-images{
  height: 14vw;
}
.containerp-is{
  display:grid;
      margin-right: 6vw;
      margin-top: 0vw;
  
  grid-template-columns: 8vw 39vw 39vw ;
  grid-template-rows: auto 8vw auto auto 28vw;
  
  column-gap: 6vw;
  row-gap: 6vw;

  float:right;

  grid-template-areas: 
  ". itema itema "
  ". . . "
  ". itemb itemb "
  ". itemc itemc "
  ". itemd itemg "
  

}


.containerp-i {
    display:grid;
        margin-right: 6vw;
    
    grid-template-columns: 8vw 39vw 39vw ;
    grid-template-rows: 10vw 2vw 24vw 24vw 24vw;
    
    column-gap: 3vw;
    row-gap:3vw;


    grid-template-areas: 
    ". itema itema "
    ". . . "
    ". itemb iteme "
    ". itemc itemf "
    ". itemd itemg "
    

  }

  .containerp-ir {
    display:grid;
    margin-left: 6vw; 
    grid-template-columns:  39vw 39vw 8vw;
    grid-template-rows: auto 2vw 12vw 12vw 12vw;
    
    column-gap: 3vw;
    row-gap: 3vw;

    float:right;

    grid-template-areas: 
    "itema itema ."
    ". . . "
    "itemb iteme ."
    "itemc itemf ."
    "itemd itemg ."

  }

  .containerp {
    display:grid;
        margin-right: 6vw;
    
    grid-template-columns: 8vw 39vw 39vw ;
    grid-template-rows: auto;
    
    column-gap: 3vw;
    row-gap: 0;

    float:right;

    grid-template-areas: 
    ". iteme itemf "
    ". itema itema "
    ". itemg itemh "
    ". itemb  itemb"
    ". . . "

  }

  .containerp-r {
  display:grid;
    margin-left: 6vw; 
    grid-template-columns:  39vw 39vw 8vw;
    grid-template-rows: 16vw auto 12vw 12vw;
    
    column-gap: 3vw;
    row-gap: 3vw;

    float:right;

    grid-template-areas: 
    "itema itemf ."
 
    "itemb iteme ."
    "itemg iteme ."
    ". itemh ."


  }

  .containerp-rv {
    display:grid;
      margin-left: 6vw; 
      grid-template-columns:  39vw 39vw 8vw;
      grid-template-rows: 16vw auto auto auto;
      
      column-gap: 3vw;
      row-gap: 3vw;
  
      float:right;
  
      grid-template-areas: 
      "itema itemf ."
   
      "itemb iteme ."
      "itemg itemh ."
      ". . ."
  
  
    }


    .containerp-rt {
      display:grid;
        margin-left: 6vw; 
        grid-template-columns:  39vw 39vw 8vw;
        grid-template-rows: 16vw 17vw 16vw 16vw;
        
        column-gap: 3vw;
        row-gap: 3vw;
    
        float:right;
    
        grid-template-areas: 
        "itema iteme ."
     
        "itemb itemc ."
        "itemd itemaa ."
        ". . ."
    
    
      }

  .containerp-rh {
    display:grid;
      margin-left: 6vw; 
      grid-template-columns:  39vw 39vw 8vw;
      grid-template-rows: 16vw auto auto auto;
      
      column-gap: 3vw;
      row-gap: 3vw;
  
      float:right;
  
      grid-template-areas: 
      "itema itemf ."
   
      "itemb itemb ."
      "itemg itemh ."
      ". . ."
  
  
    }

    
    .containerpq {
      display:grid;
          margin-right: 6vw;
      
      grid-template-columns: 8vw 39vw 39vw ;
      grid-template-rows: auto;
      
      column-gap: 3vw;
      row-gap: 3vw;
  
      float:right;
  
      grid-template-areas: 
      ". iteme iteme "
      ". itemf itemg "
      ". itemh itemi "
      ". . . "
  
    }


  .left-grid{
    margin-right: 6vw;
  }




a {
  text-decoration: none;
  color:rgb(101, 99, 218);

}

a:hover{
  font-style: italic;
  
}


.icon-icomoon:before {
  content: "\62";
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tla5f1');
  src:  url('fonts/icomoon.eot?tla5f1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tla5f1') format('truetype'),
    url('fonts/icomoon.woff?tla5f1') format('woff'),
    url('fonts/icomoon.svg?tla5f1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icomoon:before {
  content: "\62";
}
.icon-edit:before {
  content: "\61";
}




.navbarr {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbarr a {
  float: right;
  display: block;
  color: #4f6fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: proxima-nova;
}

.navbarr a:hover {
  background: #ddd;
  color: black;
}