.demo-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .demo-bg {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }

  .button1 {
    background-color: #ffe920;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

.button1:hover {
    background-color: #c1ff5c;
    font-weight: 800;
    letter-spacing: 0.065em;
  }

  #navbar {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    width: 12.3vw;
    float: left;
    display: block;
    color: #6136c4;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: 0.3vw;
  }
  
  #navbar a:hover {
    background-color: rgb(248, 240, 255);
    color: rgb(89, 44, 194);
    font-style: italic;
  }